.articleNavigation {
  grid-column-start: 2;
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  display: grid;
  grid-template-areas: "prev next";
}

.arrowBtn,
.arrowBtn:visited {
  font-weight: 900;
  color: black;
  margin: 0 -10px;
  transition: 0.2s ease;
}

.arrowBtn:hover {
  color: var(--blue);
}

.arrowBtn::before,
.arrowBtn::after {
  position: relative;
  background-color: #000000;
  color: white;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  transition: 0.2s ease;
}

.previous {
  composes: arrowBtn;
  grid-area: prev;
}

.previous::before {
  content: "←";
  margin-right: 10px;
  left: 0;
}

.previous:hover::before {
  left: -5px;
  background-color: var(--blue);
}

.next {
  composes: arrowBtn;
  grid-area: next;
}

.next::after {
  content: "→";
  margin-left: 10px;
  right: 0;
}

.next:hover::after {
  right: -5px;
  background-color: var(--blue);
}
