.thumbnail {
  margin: 0 0 40px 0;
}

.thumbnailImg {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .thumbnail {
    min-height: 500px;
    width: 80%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .thumbnailImg {
    margin-right: -180px;
    max-width: 130%;
  }

  .reversed {
    grid-column: 2;
    margin: 0 0 0 20px;
  }

  .greenThumbnail {
    composes: thumbnail;
    background-color: var(--green);
  }

  .redThumbnail {
    composes: thumbnail;
    background-color: var(--red);
  }

  .yellowThumbnail {
    composes: thumbnail;
    background-color: var(--yellow);
  }

  .blueThumbnail {
    composes: thumbnail;
    background-color: var(--blue);
  }

  .lightBlueThumbnail {
    composes: thumbnail;
    background-color: var(--light-blue);
  }

  .darkGreenThumbnail {
    composes: thumbnail;
    background-color: var(--dark-green);
  }

  .tipThumbnail {
    composes: thumbnail;
    background-color: #1f6aa4;
  }

  .etchThumbnail {
    composes: thumbnail;
    background-color: #4934ff;
  }
}
