.logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  margin-right: 10px;
}

.logoText {
  text-transform: lowercase;
  line-height: 1;
  margin: 0;
}

@media (min-width: 600px) {
  .logoText {
    width: 100px;
  }

  .logo {
    position: fixed;
    top: 30px;
    left: 30px;
  }
}
