.logo {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  margin-right: 10px;
}

.logoText {
  text-transform: lowercase;
  line-height: 1;
  margin: 0;
  font-size: 2rem;
}

.light {
  composes: logo;
  filter: invert();
}

.dark {
  composes: logo;
}

@media (min-width: 600px) {
  .logoText {
    width: 100px;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    transition: all 0.3s ease;
  }
}
