:root {
  --blue: #003eff;
  --red: #fd3946;
  --green: #00bb87;
  --yellow: #f8cb00;
  --light-grey: #ebeef2;
  --dark-blue: #0036dd;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

body {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
}

a,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

img {
  max-width: 100%;
}

/*
  Animations
*/

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-from-left {
  animation: fade-in-from-left 1s forwards;
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-from-right {
  animation: fade-in-from-right 1s forwards;
}

@keyframes fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-from-bottom {
  animation: fade-in-from-bottom 1s forwards;
}
