.siteHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
}

.dark {
  composes: siteHeader;
}

.light {
  composes: siteHeader;
  filter: invert();
}
