.pageSection {
  background-color: #ffffff;
  background-image: url(../../assets/images/lines.png),
    url(../../assets/images/ac-bg.png);
  background-repeat: repeat, no-repeat;
  background-position: center, top left;
  background-size: auto, cover;
  background-attachment: fixed;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .pageSection {
    min-height: 100vh;
    background-size: auto, contain;
  }
}

.white {
  composes: pageSection;
  background-color: #fff;
  color: black;
}

.white a,
.white a:visited {
  color: #000000;
}

.white a:hover {
  color: var(--blue);
}

.blue {
  composes: pageSection;
  background-color: var(--blue);
  color: white;
}

.blue a,
.blue a:visited {
  color: #ffffff;
}

.blue a:hover {
  color: var(--red);
}

.black {
  composes: pageSection;
  background-color: #000000;
  color: white;
}

.black a,
.black a:visited {
  color: #ffffff;
}

.black a:hover {
  color: var(--blue);
}
